:root {

  /* background colors */
  --bg-color-hs: 210, 33%;
  --bg-color-l:19%;
  --bg-color: hsl(var(--bg-color-hs),var(--bg-color-l));
  --bg-color-darker: hsl(var(--bg-color-hs),calc(var(--bg-color-l) - 5%));
  --bg-color-darkest: hsl(var(--bg-color-hs),calc(var(--bg-color-l) - 10%));
  --bg-color-select: hsl(var(--bg-color-hs),calc(var(--bg-color-l) + 10%));

  /* main color */
  --main-color-hs: 347, 69%;
  --main-color-l: 43%;
  --main-color: hsl(var(--main-color-hs),var(--main-color-l));
  --main-color-darker: hsl(var(--main-color-hs),calc(var(--main-color-l) - 5%));
  --main-color-darkest: hsl(var(--main-color-hs),calc(var(--main-color-l) - 10%));

  /* font color */
  --text-color-hs: 23, 12%;
  --text-color-l: 87%;
  --text-color: hsl(var(--text-color-hs),var(--text-color-l));
  --text-color-darker: hsl(var(--text-color-hs),calc(var(--text-color-l) - 5%));
  --text-color-darkest: hsl(var(--text-color-hs),calc(var(--text-color-l) - 70%));
  /* font family */ 
  font-family: 'comfortaa', 'opensans-regular', sans-serif;
}
html {
  background-color: var(--bg-color-darkest);
}
body {
  width: 60%;
  margin: 0 auto;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: var(--main-font);
  line-height: 1.2;
  text-align: center;
}
.wrapper {
  margin: 0 10%;
}
.padding {
  padding: .5rem 1rem;
}
.header {
  background-color: var(--text-color);
  color: var(--bg-color);
  position: relative;
  top: -2rem;
  z-index: 99;
}
.header a {
  color: var(--bg-color);
}
.header .logo {
  font-size: 1.7rem;
  text-transform: uppercase;
}
.narrow .row { max-width: 980px; }
.banner {
  position: relative;
  overflow:hidden;
  z-index: 999;
  pointer-events: none;
}
.banner img {
  width: 70%;
  margin: 0 15%;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.cover {
  width: 100%;
  margin-left: 0;
  object-fit: cover;
}
.hide {
  display:none;
}
a {
  color: var(--main-color);
  text-decoration:none;
}
a:hover {
  color: var(--main-color-darker);
}
.txtinfo {
  padding: 2rem;
}
.key {
  width: 70%;
  margin: 1rem auto;
  height: 600px;
  padding: 12px 20px;
  border-radius: 10px;
  border: 1px solid var(--main-color);
  background-color: var(--text-color);
  color: var(--bg-color);
  font-family: var(--main-font);
  resize: none;
}
.email {
  width: 50%;
  margin: 1rem auto;
  padding: 12px 20px;
  border-radius: 10px;
  border: 1px solid var(--main-color);
  background-color: var(--text-color);
  color: var(--bg-color);
  font-family: var(--main-font);
  resize: none;
}
input[type=submit] {
  background-color: var(--main-color-darker);
  border-radius: 4px;
  border: 0px;
  color: var(--text-color);
  padding: 16px 32px;
  margin: 4px 2px;
  cursor: pointer;
}
input:hover[type=submit] {
  background-color: var(--main-color-darkest);
}
#infomsg p:empty {
  display: none;
}
#infomsg p {
  padding: 2em;
  width: 80%;
  margin: 0 auto;
  border-radius: 4px;
  background-color: var(--bg-color-darker); /*shold be bg-darker but hidden when empty*/
  color: var(--main-font-color);
  font-family: var(--main-font);
  resize: none;
}
.main-nav {
  width: 80%;
  margin: 0 auto;
}
.main-nav ul {
  text-align: left;
  letter-spacing: -1em;
  margin: 0;
  padding: 0;
}
.main-nav ul li {
  display: inline-block;
  letter-spacing: normal;
}
.main-nav ul li a {
  position: relative;
  display: block;
  line-height: 45px;
  color: var(--bg);
  padding: 0 20px;
  white-space: nowrap;
}
.main-nav > ul > li > a {
  border-radius: 2px;
}
.main-nav ul li:hover > a {
  background-color: var(--bg-color-select);
  color: var(--text-color);
}
.main-nav ul li.selected > a {
  background-color: #fff;
  color: var(--bg-color-darker);
}
.main-nav ul li ul li {
  display: block;
}
.main-nav li:hover > ul {
  display: block;
}

